.sign-up-container {
    position: relative;
    height: 85vh;
    background-color: rgba(255, 192, 203, 0.158);
    overflow: hidden;
    @keyframes sparkle {
        0% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
        }
        100% {
          transform: scale(1.25);
          -webkit-transform: scale(1.25);
        }
      }
    .sign-in-and-sign-up {
        width: 850px;
        display: flex;
        justify-content: space-between;
        margin: 30px auto;
        @media screen and (max-width: 800px){
          display: grid;
          grid-template-columns: 1fr;
          width: 80vw;
          justify-content: center;
      }
        
    }
    @media screen and (max-width: 800px){
      height: auto;
  }
    
}
.sign-up-container::after {
    content: "";
    background: url("https://wallpapercave.com/wp/wp3224587.jpg");
    opacity: .7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-position: center;
    background-size: cover;
    
    animation: sparkle 60s ease-in-out infinite alternate;
  }